<form method="POST" action="/products/{{ productItem.id }}/delete">
    <div>
        <h3> You have deleted a product from the list </h3>
        <a href="/products">View Products</a>
    </div>
</form>