{% extends 'layouts/base.twig'%}

{% block main_content %}
    <h2> All Products: </h2>
    <a href="/products/new"> Create New Entry </a>
    <ul>
        {% for product in productItem %}
            <li>
                {{ product.name }} - 
                    <a href="/products/ {{ product.id }}"> Edit </a> |
                    <a href="/products/ {{ product.id }}/delete"> Delete </a>
            </li>
            </br>
            
        {% endfor %}
    </ul>
{% endblock %}

